<h1 id="title"><%=blog.get("title")%></h1>
 <div>
<div style="float: left;">
    <p class="lead">
        by <a href="../#<%=blog.get("createdBy")%>"><span id="postBy"><%=blog.get("createdBy")%></span></a>
    </p>
</div>
<% if(user) { %>
<div style="float: right;">
    <p style="vertical-align: middle; " class="pull-right"><a href="#edit/<%=blog.get("id")%>/<%=blog.get("blogCode")%>">Edit</a> </p>
</div>
<% } %>
<hr style="clear: left;" />
<div>


<!-- Date/Time -->
<% created = blog.get("created") %>
<p><span class="glyphicon glyphicon-time"></span> Posted on <%=formatDate(created)%><span id="postTime"></span></p>

<hr>

<!-- Preview Image -->
<img id="coverImage" class="img-responsive" src=<%=blog.get("coverLink")%> />


<!-- Post Content -->
<div id="content">
    <%=blog.get("content")%>                    
</div>

<!-- Comments Form -->
<div class="well">
    <h4>Leave a Comment:</h4>
    <form id="comment-form" role="form">
        <div class="form-group">
            <input type="hidden" name="blogId" value=<%= blog.id %> />
            <div style="width: 40%; float: left;">
                 Your Name: <input type="text" id="name" name="name" class="form-control" style="width: 90%;" />
            </div>
            <div class="form-group" style="width: 40%; float: left;">
                Your Email: <input type="text" id="email" name="email" class="form-control" style="width: 90%;" />
            </div>
            
            <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
        </div>
        <button id="btnAddComment" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<hr>

<div class="comments">


</div>
