<link href="/resources/lceditor/editor.css" type="text/css" rel="stylesheet"/>
<link rel="stylesheet" href="/bootstrap/font-awesome/css/font-awesome.min.css">
<div class="col-md-12">
<% var label = "Create";
    if (typeof blog != 'undefined') { var label = "Edit";  }
%>
    <h1 class="page-header">
        <%=label%> Blog
        <!--small>Secondary Text</small-->
    </h1>

    <!-- Third Blog Post -->
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Editor</h3>
        </div>
        <form class="edit-post-form" action="/app/rest/create">
            <div class="panel-body form-group">
            <% if(blog) {%>
                <input type="hidden" name="id" value="<%= getAttribute(blog, "id")%>" />
            <% } %>
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" value="<%= getAttribute(blog, "title") %>" >
            <label for="title">Code:</label>
            <input type="text" class="form-control" name="blogCode" value="<%= getAttribute(blog, "blogCode") %>" >
            <label for="coverLink">Preview Link (picture):</label>
            <input type="text" class="form-control" name="coverLink" value="<%= getAttribute(blog, "coverLink")%>" >
            <div class="media img-responsive">
                <img class=".img-responsive" style="width: 98%;" src="<%= getAttribute(blog, "coverLink") %>" />
            </div>
            <textarea id="rtContent" name="content"></textarea> 

            <hr>
            <div class="btn-toolbar">
                <button id="btnCreate" type="submit" class="btn btn-sm btn-primary pull-right">Save</button>
                <button id="btnDraft" type="submit" class="btn btn-sm btn-primary pull-right">Save as Draft</button>
                <button type="button" class="btn btn-sm btn-warning pull-right ">Cancel</button>
            </div>
            
            </div>
        </form>
     </div>
</div>


<script src="/resources/lceditor/editor.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#rtContent").Editor();        
    });

</script>