<h3>Recent Posts</h3>
<hr style="clear left">

<% blogs.sort( function(a,b) { return (b.get("created") - a.get("created")); }); %>

 <div class="pull-right">
 	<ul>
		<% _.each(blogs, function(blog) { %>
		<li>
			<div>
				<% var href = "/blog/page/"+blog.get('id'); 
				if (blog.get('blogCode')) { 
 					href = href + "/" + blog.get('blogCode');
				} %>
				<a href="<%= href %>"> <%= blog.get("title") %> </a>
				<% if(blog.get('coverLink')) { %>
					<a href="<%= href %>"><img src="<%= blog.get('coverLink') %>" class="img-thumbnail" alt="<%= blog.get('title') %>"></img></a>
				<% } %>
				<hr class="small">
			</div>
		</li>
		<%}) %>
	</ul>
 </div>
