<div>
	<div class="form-group">
		<label for="comment">Comment:</label>
		<textarea id="msg" class="form-control" rows="10" maxlength="150"></textarea>
	</div>
	<div>
		<button id="send" type="button" class="button buttonBlue">Send
			<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
		</button>
		<button id="refresh" type="button" class="button buttonBlue">Refresh
			<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
		</button>
	</div>
</div>

<div id="msgDiv" style="width: 1000px; height: 600px; overflow: scroll;">
	<ul class="collection">

	</ul>
</div>