<div class="viewport">
  <div id="msgDiv" class="parentbox" style="overflow: scroll;">
    
  </div>
  <div class="input-field col s12">
      <input id="msg" placeholder="Placeholder" id="first_name" type="text" class="validate">
      <label for="first_name">Enter your message</label>
    </div>  
  </div>
  <div>
    <button id="send" class="btn waves-effect waves-light" type="button" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
    <button id="refresh" class="btn waves-effect waves-light" type="button" name="action">Refresh
      <i class="material-icons right">refresh</i>
    </button>
  </div>
</div>
</div>