<div class"valign-wrapper"> 
  <ul class="collection valign">
    <div>
      <li class="collection-item avatar">
        <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
        <p>testing</p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      </div>
      <div>
        <li class="collection-item avatar">
          <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
          <p>testing</p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
      </div>
      <div>
        <li class="collection-item avatar">
          <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
          <p>testing</p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
      </div>
      <div>
        <li class="collection-item avatar">
          <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
          <p>testing</p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
      </div>
    </ul>
</div>